* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "MaxevilleGT";
    src: url(/assets/MaxevilleGT.woff);
}

body {
    font-family: "MaxevilleGT", sans-serif;
    padding: 0px 30px 30px 30px;
}

header {
    border: 1px solid;
    border-color: transparent transparent black transparent;
    padding: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 100px;
    gap: 50px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.Acknowledgement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 35px;

    border: 1px solid;
    border-color: black transparent transparent transparent;

}

.links div {
    display: flex;
    flex-direction: column;
    width: 32%;
    gap: 35px;
    border: 1px solid;
    border-color: black transparent transparent transparent;
}

.Acknowledgement {
    display: flex;
    flex-direction: column;
}

.links div span,
.Acknowledgement span {
    padding-top: 10px;
    font-size: 17px;
}

.links div a,
.Acknowledgement p {
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.colon {
    animation: fade 1s infinite;
}

@keyframes fade {

    0%,
    100% {
        opacity: 100%;
    }

    50% {
        opacity: 0%;
    }
}

.infoBar {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.infoBar span {
    font-size: 25px;
    line-height: 120%;
    width: 70%;
}

.infoBar div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: fit-content;
    gap: 20px
}

.infoBar div ul {
    display: flex;
    position: absolute;
    list-style: none;
    flex-direction: column;
    padding: 12px 18px;
    gap: 8px;


}

.infoBar div img {
    width: 16px;
    padding-top: 3px;

}

.infoBar div div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 0px;
    height: 28px;
    padding-top: 3px;

}

.infoBar div div span {
    font-size: 17.5px;
    text-wrap: nowrap;
    padding: 0px 15px;
}

.infoBar div :hover {
    background-color: #f2f2f2;
    cursor: pointer;
    border-radius: 8px;
}