* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scrollbar-width: none;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: "MaxevilleGT";
    src: url(/assets/MaxevilleGT.woff);
}

body {
    font-family: "MaxevilleGT", sans-serif;
    padding: 0px 30px 30px 30px;
}

header {
    border: 1px solid;
    border-color: transparent transparent black transparent;
    padding: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 100px;
    gap: 50px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.Acknowledgement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 35px;

    border: 1px solid;
    border-color: black transparent transparent transparent;

}

.links div {
    display: flex;
    flex-direction: column;
    width: 32%;
    gap: 35px;
    border: 1px solid;
    border-color: black transparent transparent transparent;
}

.Acknowledgement {
    display: flex;
    flex-direction: column;
}

.links div span,
.Acknowledgement span {
    padding-top: 10px;
    font-size: 17px;
}

.links div a,
.Acknowledgement p {
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.colon {
    animation: fade 1s infinite;
}

@keyframes fade {

    0%,
    100% {
        opacity: 100%;
    }

    50% {
        opacity: 0%;
    }
}

.infoBar {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.infoBar span {
    font-size: 25px;
    line-height: 120%;
    width: 70%;
}

.infoBar div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    padding: 5px;
}

.viewToggle img,
.infoToggle img {
    /* svg icons */
    width: 16px;
    padding-top: 3px;
}

.infoBar div div span {
    /* View and Get Info  */
    font-size: 17.5px;
    text-wrap: nowrap;
    padding: 0px 15px;
}

.infoBar div div:hover {
    background-color: #f2f2f2;
    cursor: pointer;
    border-radius: 8px;
}

.dropdown {
    position: absolute;
    top: -10%;
    /* Position above the clickable div */
    left: 0;

    display: none;
    list-style: none;
    flex-direction: column;
    padding: 8px;
    text-wrap: nowrap;
}

.dropdown li {
    font-size: 17px;
    padding: 7px 15px;
}

.infoBar div div {
    /* viewToggle  and infoToggle*/
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 0px;
    height: 28px;
    padding-top: 3px;

}

.links div a {
    width: min-content;
    text-wrap: nowrap;
}

.worksContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;
    /* column-gap: 10px; */
}

.work {
    width: 20%;
    padding: 0px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.work img {
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.1));

}

.pngImg {
    width: 66%;
    margin: 0% 17%;

}

.work span {
    text-align: center;
    font-size: 17.5px;
    width: fit-content;
    align-self: center;
    padding: 2px 15px;
}



.work:hover * {
    background-color: #e9e9e9;
    border-radius: 5px;
}





:root {
    --color-primary: #ff0011;
    --color-primary-dark: #fbff00;
    --color-primary-light: #2bff00;
    --color-primary-reverse: #1e00ff;
    --logo: url();
}

.s-button-btn {
    background: linear-gradient(90deg, rgb(145, 161, 0), yellow);
}


.s-button-text {
    color: white;
}

.navbar-brand {
    width: 100px;
}

.top-navbar {
    display: none;
}


border-radius: 30px;

.asdjg {
    max-height: 10000px;
    height: 2000px;
}



background: linear-gradient(180deg, #293880, #cdb4d7);


max-height: 1000px;
height: 400px;


.main-nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.mainnav div div div {
    background-color: #1e00ff;
    justify-content: space-between;
}



body {
    font-family: "BoldFont", sans-serif;
}

.s-block {
    width: auto;
    height: 100vh;
}


:root {
    --font-main: 'MEDIUMWEB';
    --color-primary: #1fb6d1;
    --color-primary-dark: #0090ab;
    --color-primary-light: #45dcf7;
    --color-primary-reverse: #003752;
}